/* smooth transition */
body,
h1,
.global,
.global .rub .content,
.global .rub .content .page,
.global .rub .content > a:after {
	transition: background .5s ease;
	}
h1 {
	transition-property: color;
	}

/* colors */
/* - text color global */
body,
body       a.light { color: #ddd; }
body > .waiting,
body.light,
body.light a.light { color: #222; }

/* - waiting */
body > .waiting { background: #fff; }
body .waiting .windows8-loading { color: rgb(120,120,255); }

/* - link over */
body       a.light:hover { color: #fff; }
body.light a.light:hover { color: #000; }

/* - main background */
body       { background: #343434 url("bg-dark.png");  }
body.light { background: #c9c9c9 url("bg-light.png"); }
body       .global { background: rgba(  0,  0,  0, .5); }
body.light .global { background: rgba(255,255,255, .5); }
body       .content { background: rgba(  0,  0,  0, .5); }
body.light .content { background: rgba(  0,  0,  0, .1); }
body       .rub .content .page { background: rgba(  0,  0,  0, .5); }
body.light .rub .content .page { background: rgba(255,255,255, .6); }
body       .rub .content > a:after { background: rgb(  6,  6,  6); }
body.light .rub .content > a:after { background: rgb(230,230,230); }

/* - other text colors */
body       h1 { color: #fff; }
body.light h1 { color: #000; }
body       code { background: rgba(255,255,255, .1); }
body.light code { background: rgba(  0,  0,  0, .2); }
body       a { color: rgb(153,153,255); }
body.light a { color: rgb( 85, 85,255); }
body       a:hover { color: rgb(187,187,255); }
body.light a:hover { color: rgb( 34, 34,255); }
body       .tags a { background: rgba(153,153,255, .15); }
body.light .tags a { background: rgba( 85, 85,255, .25); }
body       .tags a:hover { background: rgba(153,153,255, .3); }
body.light .tags a:hover { background: rgba( 85, 85,255, .4); }
body       .gray { color: #666; }
body.light .gray { color: #666; }

body       a.gray:hover { color: #ccc; }
body.light a.gray:hover { color: #333; }
body       a.gray.open,
body       a.gray.selected { color: #ddd; }
body.light a.gray.open,
body.light a.gray.selected { color: #222; }

body       .languages :hover    img { border-color: rgba(255,255,255, .1); }
body.light .languages :hover    img { border-color: rgba(  0,  0,  0, .1); }
body       .languages .selected img { border-color: rgba(255,255,255, .2); }
body.light .languages .selected img { border-color: rgba(  0,  0,  0, .2); }
