html, body {
	height: 100%;
	}
body {
	margin: 0;
	font: 12px sans-serif;
	background: #333 url(bg-noise.png);
	}
a {
	color: #99f;
	text-decoration: none;
	}
	a:hover {
		color: #bbf;
		}
h1,
h2,
p {
	margin: 0;
	}
.table {
	display: table;
	width: 100%;
	}
	.table > * {
		display: table-cell;
		}

a.dark {
	color: #666;
	}
	a.dark:hover {
		color: #ccc;
		}

body[lang="en"] [lang="fr"],
body[lang="fr"] [lang="en"] {
	display: none;
	}

.global {
	margin: auto;
	width: 400px;
	min-height: 100%;
	padding: 0 50px;
	background: rgba(0,0,0,.5);
	}
	.global > .header {
		padding-top: 35px;
		}
		.global > .header h1 {
			color: #fff;
			font-weight: normal;
			font-family: 'Alfa Slab One', sans-serif;
			}
			.global > .header .title {
				font-size: 36px;
				}
				.global > .header .title span {
					font-size: .5em;
					}
			.global > .header .languages img {
				padding: 5px;
				border-radius: 4px;
				border: 2px solid transparent;
				-webkit-transition: border-color .2s ease;
				}
				.global > .header .languages a img {
					margin-bottom: -7px;
					}
				.global > .header .languages :hover img {
					border-color: rgba(255,255,255,.1);
					}
				.global > .header .languages .selected img {
					border-color: rgba(255,255,255,.2);
					}
		.global .header .social {
			margin-top: 20px;
			}
			.global .header .social > * {
				text-align: center;
				}
				.global .header .social a {
					font-size: 24px;
					}
	.rub {

		}
		.rub .header {
			padding: 5px 0;
			margin-top: 20px;
			}
			.rub .header .fa {
				font-size: 16px;
				}
			.rub .header span {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				}
		.rub .content {
			margin-left: -7px;
			width: 100%;
			padding: 7px;
			border-radius: 4px;
			background: rgba(0,0,0,.5);
			}
			.rub .content > a {
				position: relative;
				overflow: hidden;
				float: left;
				box-sizing: border-box;
				width: 100px;
				height: 100px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				-webkit-transition: all .2s ease;
				   -moz-transition: all .2s ease;
				    -ms-transition: all .2s ease;
				        transition: all .2s ease;
				}
				.rub .content.alpha-mouseover > a,
				.rub .content.alpha-selected > a {
					opacity: .1;
					}
				.rub .content > a:hover,
				.rub .content > a[href="#"] {
					opacity: 1;
					}
				.rub .content > a:after {
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					left: 50%;
					margin-left: -5px;
					bottom: -15px;
					background: rgb(8,8,8);
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					        transform: rotate(45deg);
					-webkit-transition: bottom .25s ease;
					   -moz-transition: bottom .25s ease;
					    -ms-transition: bottom .25s ease;
					        transition: bottom .25s ease;
					}
				.rub .content > a[href="#"]:after {
					bottom: -5px;
					}
			.rub .content .page {
				float: left;
				box-sizing: border-box;
				width: 100%;
				padding: 20px 10px;
				color: #ddd;
				background: rgba(0,0,0,.3);
				}
				.rub .content .page h2 {
					margin-bottom: 20px;
					}
				.rub .content .page p {
					margin-top: 10px;
					line-height: 1.5em;
					}
			.rub .content:after {
				content: "";
				display: block;
				clear: both;
				}
		.rub:last-child {
			padding-bottom: 25px;
			}

.rub.skills .content > a {
	/*background-size: 87%;*/
	}
