html, body {
	height: 100%;
	}
body {
	margin: 0;
	font: 12px sans-serif;
	}
a {
	outline: 0;
	text-decoration: none;
	transition: color .2s ease;
	color: #99f;
	}
	a:hover {
		color: #bbf;
		}
.tags a,
code {
	display: inline-block;
	padding: .1em .4em;
	margin-bottom: .3em;
	border-radius: 2px;
	text-indent: initial;
	}
code {
	display: inline;
	}
h1,
h2,
p {
	margin: 0;
	}
.fa {
	text-indent: initial;
	}
li {
	line-height: 1.8em;
	}
.table {
	display: table;
	width: 100%;
	}
	.table > * {
		display: table-cell;
		}
	thead {
		font-weight: bold;
		}

body[lang="en"] [lang="fr"],
body[lang="fr"] [lang="en"],
#data {
	display: none;
	}

.global {
	box-sizing: border-box;
	margin: auto;
	width: 600px;
	min-height: 100%;
	padding: 30px 50px 50px;
	}
		h1 {
			font-weight: normal;
			font-family: 'Alfa Slab One', sans-serif;
			}
			.global > .header .title {
				font-size: 36px;
				}
				.global > .header .title span {
					font-size: .5em;
					}
			.languages img {
				padding: 5px;
				border-radius: 4px;
				border: 2px solid transparent;
				transition: border-color .2s ease;
				}
				.languages a img {
					margin-bottom: -7px;
					}
			.colors {
				font-size: 18px;
				}
				.colors a {

					}
		.rub .header {
			padding: 5px 0;
			margin-top: 20px;
			}
			.rub .header .fa {
				font-size: 16px;
				}
			.rub .header span {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				}
		.content {
			margin-left: -7px;
			width: 100%;
			padding: 7px;
			border-radius: 4px;
			}
			.rub .content > a {
				position: relative;
				float: left;
				width: 25%;
				overflow: hidden;
				transition: opacity .2s ease;
				}
				.rub .content.alpha-mouseover > a,
				.rub .content.alpha-selected > a {
					opacity: .3;
					}
				.rub .content > a:hover,
				.rub .content > a.selected {
					opacity: 1;
					}
				.rub .content > a:after {
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					left: 50%;
					margin-left: -5px;
					transform: rotate(45deg);
					transition: bottom .25s ease;
					bottom: -15px;
					}
				.rub .content > a.selected:after {
					bottom: -5px;
					}
				.rub .content > a img {
					display: block;
					width: 100%;
					min-height: 5px; /* otherwise the if with $().position().top fail */
					}
			.rub .content .page {
				float: left;
				box-sizing: border-box;
				width: 100%;
				padding: 20px 10px;
				}
				.rub .content .page .appLink,
				.rub .content .page .tags,
				.rub .content .page .subRub {
					margin-top: 10px;
					}
				.rub .content .page .appLink {
					display: inline-block;
					font-weight: bold;
					}
					.rub .content .page .appLink:before {
						content: "\f08e"; /* fa-external-link */
						font: 14px FontAwesome;
						margin-right: .2em;
						}
				.rub .content .page .sourceLink:before {
					content: "cf.\A0";
					}
					.rub .content .page .sourceLink a:before {
						content: "\f0c1\A0"; /* fa-link */
						font: 14px FontAwesome;
						}
				.rub .content .page .subTitle {
					display: inline-block;
					font-weight: bold;
					font-size: 12px;
					}
					.rub .content .page .subTitle:after {
						content: "\f0d7"; /* fa-caret-down */
						margin-left: .2em;
						font: .8em FontAwesome;
						opacity: .7;
						}
						.rub .content .page .subTitle.open:after {
							content: "\f0d8"; /* fa-caret-up */
							}
					.rub .content .page .subTitle * {
						vertical-align: middle;
						}
					.rub .content .page a .fa {
						font-size: 14px;
						}
					.rub .content .page .subTitle + * {
						display: none;
						}
				.rub .content .page p,
				.rub .content .page table {
					margin-top: 10px;
					}
				.rub .content .page p {
					line-height: 1.5em;
					text-indent: 1em;
					text-align: justify;
					}
				.rub .content .page .tags > * {
					vertical-align: middle;
					}
				.rub .content .page .tags:before {
					content: "\f02c";
					font-family: FontAwesome;
					font-size: 14px;
					}
				.rub .content .page .tags a {
					font-family: monospace;
					font-weight: bold;
					transition: background .2s ease;
					}
					.rub .content .page .tags a:before {
						content: "#";
						}
			.rub .content:after {
				content: "";
				display: block;
				clear: both;
				}

/* particular */
.gitfast td.alias {
	width: 85px;
	}

.skills .content > a {
	width: 20%;
	}

/* social */
.social {
	position: relative;
	margin: 20px 0 60px;
	}
	.social .icon-container {
		position: absolute;
		width: 14.285%; /* 100 / 7 */
		text-align: center;
		transition: all .3s ease;
		visibility: visible;
		}
		.social .link,
		.social .icon-container:nth-of-type(2) { left: 14.285%; }
		.social .icon-container:nth-of-type(3) { left: 28.571%; }
		.social .icon-container:nth-of-type(4) { left: 42.857%; }
		.social .icon-container:nth-of-type(5) { left: 57.143%; }
		.social .icon-container:nth-of-type(6) { left: 71.429%; }
		.social .icon-container:nth-of-type(7) { left: 85.714%; }
		.social .icon-container.selected {
			left: 0%;
			}
	.social .icon-container .fa {
		font-size: 24px;
		transition-property: all;
		}
		.social.one-is-selected .icon-container .fa {
			opacity: 0;
			visibility: hidden;
			}
		.social .icon-container.selected .fa {
			opacity: 1;
			visibility: visible;
			}
	.social .close {
		position: absolute;
		margin-top: -1px;
		line-height: 2em;
		font-size: 14px;
		transition: all .2s ease;
		visibility: hidden;
		opacity: 0;
		}
		.social.one-is-selected .close {
			visibility: visible;
			opacity: 1;
			}
	.social .link {
		position: absolute;
		right: 0;
		}
		.social .link > * {
			display: none;
			font-size: 16px;
			line-height: 28px;
			}
