html, body {
	height: 100%;
	}
body {
	margin: 0;
	font: 12px sans-serif;
	background: #333 url(bg-noise.png);
	}
a {
	text-decoration: none;
	-webkit-transition: color .2s ease;
	   -moz-transition: color .2s ease;
	    -ms-transition: color .2s ease;
	        transition: color .2s ease;
	color: #99f;
	}
	a:hover {
		color: #bbf;
		}
code {
	display: inline-block;
	margin: .2em;
	padding: 0 .4em;
	background: rgba(255,255,255,.1);
	border-radius: 2px;
	text-indent: initial;
	}
h1,
h2,
p {
	margin: 0;
	}
.fa {
	text-indent: initial;
	}

.table {
	display: table;
	width: 100%;
	}
	.table > * {
		display: table-cell;
		}
a.dark {
	color: #666;
	}
	a.dark:hover {
		color: #ccc;
		}

body[lang="en"] [lang="fr"],
body[lang="fr"] [lang="en"] {
	display: none;
	}

#data {
	display: none;
	}

.global {
	box-sizing: border-box;
	margin: auto;
	width: 600px;
	min-height: 100%;
	padding: 30px 50px 50px;
	background: rgba(0,0,0,.5);
	}
		.global > .header h1 {
			color: #fff;
			font-weight: normal;
			font-family: 'Alfa Slab One', sans-serif;
			}
			.global > .header .title {
				font-size: 36px;
				}
				.global > .header .title span {
					font-size: .5em;
					}
			.global > .header .languages img {
				padding: 5px;
				border-radius: 4px;
				border: 2px solid transparent;
				-webkit-transition: border-color .2s ease;
				}
				.global > .header .languages a img {
					margin-bottom: -7px;
					}
				.global > .header .languages :hover img {
					border-color: rgba(255,255,255,.1);
					}
				.global > .header .languages .selected img {
					border-color: rgba(255,255,255,.2);
					}
		.global .header .social {
			margin-top: 20px;
			}
			.global .header .social .table > * {
				text-align: center;
				}
				.global .header .social .table a {
					font-size: 24px;
					}
			.global .header .social .content {
				margin-top: 15px;
				color: #fff;
				letter-spacing: 1px;
				}
				.global .header .social .content > * {
					display: none;
					color: #fff;
					}
					.global .header .social .content > .selected {
						display: inline;
						}
		.rub .header {
			padding: 5px 0;
			margin-top: 20px;
			}
			.rub .header .fa {
				font-size: 16px;
				}
			.rub .header span {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
				}
		.content {
			margin-left: -7px;
			width: 100%;
			padding: 7px;
			border-radius: 4px;
			background: rgba(0,0,0,.5);
			}
			.rub .content > a {
				position: relative;
				float: left;
				width: 25%;
				overflow: hidden;
				-webkit-transition: opacity .2s ease;
				   -moz-transition: opacity .2s ease;
				    -ms-transition: opacity .2s ease;
				        transition: opacity .2s ease;
				}
				.rub .content > a img {
					display: block;
					width: 100%;
					min-height: 5px; /* otherwise the if with $().position().top fail */
					}
				.rub .content.alpha-mouseover > a,
				.rub .content.alpha-selected > a {
					opacity: .1;
					}
				.rub .content > a:hover,
				.rub .content > a.selected {
					opacity: 1;
					}
				.rub .content > a:after {
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					left: 50%;
					margin-left: -5px;
					bottom: -15px;
					background: rgb(8,8,8);
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					        transform: rotate(45deg);
					-webkit-transition: bottom .25s ease;
					   -moz-transition: bottom .25s ease;
					    -ms-transition: bottom .25s ease;
					        transition: bottom .25s ease;
					}
				.rub .content > a.selected:after {
					bottom: -5px;
					}
			.rub .content .page {
				float: left;
				box-sizing: border-box;
				width: 100%;
				padding: 20px 10px;
				color: #ddd;
				background: rgba(0,0,0,.3);
				}
				.rub .content .page h2 {
					margin-bottom: 20px;
					}
				.rub .content .page .appLink {
					font-weight: bold;
					}
				.rub .content .page .subTitle {
					display: inline-block;
					margin-top: 1em;
					font-weight: bold;
					font-size: 12px;
					}
					.rub .content .page .subTitle.close {
						color: #777;
						}
					.rub .content .page .subTitle,
					.rub .content .page .subTitle:hover {
						color: inherit;
						}
					.rub .content .page .subTitle:after {
						content: "\f0d8"; /* fa-caret-up */
						margin-left: .2em;
						font: .7em FontAwesome;
						opacity: .7;
						}
						.rub .content .page .subTitle.close:after {
							content: "\f0d7"; /* fa-caret-down */
							}
					.rub .content .page .subTitle * {
						vertical-align: middle;
						}
					.rub .content .page .appLink .fa,
					.rub .content .page .subTitle .fa {
						margin-right: .3em;
						}
				.rub .content .page p {
					margin-top: 10px;
					line-height: 1.5em;
					text-indent: 1em;
					text-align: justify;
					}
			.rub .content:after {
				content: "";
				display: block;
				clear: both;
				}
