@font-face { font-display: fallback; font-family: "FAB"; src: url( "fa-brands-400.woff2" ) }
@font-face { font-display: fallback; font-family: "FA";  src: url( "fa-duotone-900.woff2" ) }
@font-face { font-display: fallback; font-family: "OSC"; src: url( "OpenSansCondensed-Light.ttf" ) }
@font-face { font-display: fallback; font-family: "ROB"; src: url( "Roboto-Regular.ttf" ) }
@font-face { font-display: fallback; font-family: "CCO"; src: url( "ConcertOne-Regular.woff2" ) }

.icon {
	position: relative;
	display: inline-block;
	font-family: "FA";
	font-weight: normal;
	font-style: normal;
}
.brand { font-family: "FAB" }
.icon:not( .brand )::before { position: absolute }

.icon[data-icon="github"]::before   { content: "\f09b" }
.icon[data-icon="codepen"]::before  { content: "\f1cb" }
.icon[data-icon="linkedin"]::before { content: "\f08c" }

.icon[data-icon="hello"]::before { content: "\f581"; opacity: 0 }
.icon[data-icon="hello"]::after  { content: "\10f581" }
.icon[data-icon="music"]::before { content: "\f001" }
.icon[data-icon="music"]::after  { content: "\10f001"; opacity: .65 }
.icon[data-icon="meteor"]::before { content: "\f753"; opacity: .65 }
.icon[data-icon="meteor"]::after  { content: "\10f753" }
.icon[data-icon="planet"]::before { content: "\e020"; opacity: .65 }
.icon[data-icon="planet"]::after  { content: "\10e020" }
.icon[data-icon="paint"]::before { content: "\f1fc"; opacity: .65 }
.icon[data-icon="paint"]::after  { content: "\10f1fc" }
.icon[data-icon="sparkles"]::before { content: "\f890"; opacity: .65 }
.icon[data-icon="sparkles"]::after  { content: "\10f890" }
.icon[data-icon="peace"]::before { content: "\f25b" }
.icon[data-icon="peace"]::after  { content: "\10f25b" }

@keyframes anim-a {
	from { opacity: 1 }
	to { opacity: .7 }
}

html,
body {
	height: 100%;
}
body {
	display: table;
	width: 100%;
	margin: 0;
}

a {
	color: indianred;
	font-family: "CCO";
	text-decoration: none;
	transition: .1s color;
}
a:hover {
	animation: .3s ease-out anim-a alternate infinite;
}
p {
	margin: 1em 0;
}

.space-left {
	margin-left: .4ch;
}

#global {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: #ff9; /* 👈 i loved that game so much when i was a child */
	font-size: 20px;
	font-family: "ROB", sans-serif;
	background-image: linear-gradient( #11112a, #080815 );
}
#main {
	margin: 0 auto;
	padding: 40px;
	max-width: 420px;
	border-radius: 16px;
	background-image: linear-gradient( #0002, transparent );
}
#name {
	font: 2em "OSC";
	margin: 0;
}
#avatar {
	display: inline-flex;
	padding: 3px;
	margin-right: .5ch;
	border-radius: 8px;
	background-image: linear-gradient( 45deg, #33f, #ff7 );
}
#avatar img {
	width: 64px;
	height: 64px;
	border-radius: 5px;
}
#name q {
	opacity: .8;
}
#signature {
	margin-top: 1.6em;
}

@media ( max-width: 600px ) {
	#main {
		background: none;
	}
}
