@font-face { font-family: "FAB"; src: url( "fa-brands-400.woff2" ) }
@font-face { font-family: "FA"; src: url( "fa-duotone-900.woff2" ); }
@font-face { font-family: "OSC"; src: url( "OpenSansCondensed-Light.ttf" ); }
@font-face { font-family: "ROB"; src: url( "Roboto-Regular.ttf" ); }
@font-face { font-family: "CCO"; src: url( "ConcertOne-Regular.ttf" ); }

.icon {
	display: inline-block;
	font-family: "FA";
	font-weight: normal;
	font-style: normal;
}
.brand {
	font-family: "FAB";
}
.icon:not( .brand )::before {
	position: absolute;
}
.icon[data-icon="github"]::before   { content: "\f09b"; }
.icon[data-icon="codepen"]::before  { content: "\f1cb"; }
.icon[data-icon="twitter"]::before  { content: "\f099"; }
.icon[data-icon="facebook"]::before { content: "\f09a"; }
.icon[data-icon="music"]::before { content: "\f001"; }
.icon[data-icon="music"]::after  { content: "\10f001"; opacity: .65; }
.icon[data-icon="hello"]::before { content: "\f581"; opacity: .3; }
.icon[data-icon="hello"]::after  { content: "\10f581"; }
.icon[data-icon="peace"]::before { content: "\f25b"; }
.icon[data-icon="peace"]::after  { content: "\10f25b"; }
.icon[data-icon="meteor"]::before { content: "\f753"; opacity: .65; }
.icon[data-icon="meteor"]::after  { content: "\10f753"; }
.icon[data-icon="planet"]::before { content: "\e020"; opacity: .65; }
.icon[data-icon="planet"]::after  { content: "\10e020"; }
.icon[data-icon="palette"]::before { content: "\f53f"; opacity: .4; }
.icon[data-icon="palette"]::after  { content: "\10f53f"; }
.icon[data-icon="magic"]::before { content: "\f72b"; opacity: .5; }
.icon[data-icon="magic"]::after  { content: "\10f72b"; }

@keyframes anim-a {
	from { opacity: 1; }
	to { opacity: .7; }
}

html,
body {
	height: 100%;
}

body {
	display: table;
	width: 100%;
	margin: 0;
}

a {
	position: relative;
	color: indianred;
	font-family: "CCO";
	text-decoration: none;
	transition: .1s color;
}
a:hover {
	animation: .3s ease-out anim-a alternate infinite;
}
p {
	margin: 1em 0;
	opacity: .8;
}

.space-left {
	margin-left: .2em;
}

#global {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: #ff9;
	font-size: 20px;
	font-family: "ROB", sans-serif;
	background: linear-gradient( #11112a, #000 );
}
#main {
	margin: 0 auto;
	padding: .4em 1em;
	max-width: 420px;
}
#name {
	font: 2em "OSC";
	margin: 0;
}
#avatar {
	display: inline-flex;
	padding: 3px;
	border-radius: 8px;
	background-image: linear-gradient( 45deg, #33f, #ff5 );
}
#avatar-img {
	width: 64px;
	border-radius: inherit;
}
#username {
	opacity: .8;
}
#signature {
	margin-top: 1.6em;
}
