body > .waiting {
	position: fixed;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
	background: #000;
	transition: all .2s ease;
	}
	body > .waiting.fadeOut {
		visibility: hidden;
		opacity: 0;
		}
	body > .waiting > * {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -100px;
		text-align: center;
		}
		body > .waiting span {
			line-height: 60px;
			font-size: 14px;
			font-weight: bold;
			}
		.waiting .windows8-loading {
			font-size: 48px;
			color: #aaf;
			}
